<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906981667347-f0usgmmichl6n2d705opje1kvquiao5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906981667347-f0usgmmichl6n2d705opje1kvquiao5q</string>
	<key>API_KEY</key>
	<string>AIzaSyBUP6-rmTDPtr3jfUsQb_tozU3rHOICI0A</string>
	<key>GCM_SENDER_ID</key>
	<string>906981667347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shah.AlgebraIITutor</string>
	<key>PROJECT_ID</key>
	<string>algebraiitutor</string>
	<key>STORAGE_BUCKET</key>
	<string>algebraiitutor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906981667347:ios:8c7f26264454d7370645e6</string>
	<key>DATABASE_URL</key>
	<string>https://algebraiitutor.firebaseio.com</string>
</dict>
</plist>